<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Order Item</title>
</head>
<body>
	<div class="order-item" th:fragment="orderItem(item)"
		th:assert="${!#strings.isEmpty(item)}">
		<div class="d-flex align-items-start justify-content-between gap-4">
			<img th:src="@{'/img/'+${item.getProduct().getImage()}}" alt=""
				class="cart-img shadow-sm" />
			<div>
				<p class="fs-5" th:text="${item.getProduct().getName()}"></p>
				<p class="text-black-50">Women's</p>
				<div class="d-flex gap-1 mt-2">
					<p class="text-black-50">Quantity</p>
					<p th:text="${item.getQuantity}"></p>
				</div>
				<div class="d-flex align-items-end gap-3 mt-5 fs-5">
					<a href="" class="text-black"><i class="fa-regular fa-heart"></i></a>
					<a href="" class="text-black"><i
						class="fa-regular fa-trash-can"></i></a>
				</div>
			</div>
		</div>
		<div
			class="d-flex flex-column justify-content-between align-items-center">
			<p class="fs-5" th:text="${item.getDetailPrice()}"></p>
			<div class="btn-group" role="group">
				<a class="btn btn-outline-secondary"
					th:href="@{'/reduce-product/'+${item.getProduct().getProductId()}}">-</a>
				<a class="btn btn-outline-secondary"
					th:href="@{'/add-product/'+${item.getProduct().getProductId()}}">+</a>
			</div>
		</div>
	</div>
</body>
</html>