<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product</title>
</head>
<body>
	<div class="order-item" th:fragment="orderItem(item)"
		th:assert="${!#strings.isEmpty(item)}">
		<div class="d-flex align-items-start justify-content-between gap-4">
			<img th:src="@{'/img/'+${item.getProduct().getImage()}}" alt=""
				class="cart-img shadow-sm" />
			<div class="">
				<p class="fs-5" th:text="${item.getProduct().getName()}"></p>
				<p class="text-black-50">Women's</p>
				<div class="d-flex gap-1 mt-2">
					<p class="text-black-50">Quantity</p>
					<p th:text="${item.getQuantity}"></p>
					<div class="d-flex align-items-center gap-4">
						<p class="btn">
							<a th:href="@{'/add-product/'+${item.getProduct().getProductId()}}">+</a>
						</p>
						<p class="btn">
							<a th:href="@{'/reduce-product/'+${item.getProduct().getProductId()}}">-</a>
						</p>
					</div>
				</div>
				<div class="d-flex align-items-center gap-3 mt-5 fs-5">
					<a href="" class="text-black"><i class="fa-regular fa-heart"></i></a>
					<a href="" class="text-black"><i
						class="fa-regular fa-trash-can"></i></a>
				</div>
			</div>
		</div>
		<p th:text="${item.getDetailPrice()}"></p>
	</div>
</body>
</html>