<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/index.css}" rel="stylesheet" />
<title>Product</title>
</head>
<body>
	<div style="min-height: 21rem" class="shadow-sm p-3 text-center"
		th:fragment="product(product)"
		th:assert="${!#strings.isEmpty(product)}">
		<a class="text-decoration-none" th:href="@{'/products/'+${product.productId}}"> <img
			th:src="@{'/img/'+${product.image}}"
			style="width: 14rem; height: 14rem" />
			<div class="d-flex justify-content-between align-items-center">
				<p class="fs-6 text-start text-black" th:text="${product.name}"></p>
				<p class="text-success">In stock</p>
			</div>
			<p class="text-start text-black" th:text="${product.price} + '$'"></p>
		</a>
	</div>
</body>
</html>