<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/}">ZENOVUX</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li th:each="category : ${categories}">
                                <a class="dropdown-item" th:href="@{|/category/${category.code}|}">[[${category.name}]]</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                </ul>
                <div class="d-flex">
                    <div class="cart-btn me-2">
                        <a th:href="@{/cart}" class="btn btn-outline-dark">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{cart.count}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-versions"
                            data-bs-popper="static" style="width: 400px">
                            <table class="table table-hover">
                                <tbody>
                                    <tr ng-repeat="item in cart.items | limitTo : 4 : 0">
                                        <td>
                                            <div class="row align-items-center">
                                                <div class="col-2">
                                                    <img alt="" src="/assets/images/1GrakTl.jpg" height="40px">
                                                </div>
                                                <div class="col-8 text-truncate">{{item.name}}</div>
                                                <div class="col-2">{{item.price}}</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a th:href="@{/cart}" class="btn btn-primary btn-sm mx-2">Xem giỏ hàng</a>
                        </div>
                    </div>
                    <th:block th:unless="${#request.remoteUser}">
                        <a th:href="@{/login}" class="btn btn-outline-dark me-2">
                            Đăng nhập
                        </a>
                        <a th:href="@{/register}" class="btn btn-outline-dark me-2">
                            Đăng ký
                        </a>
                    </th:block>
                    <th:block th:if="${#request.remoteUser}">
                    	<div class="btn-group">
						    <button type="button" class="btn btn-outline-dark"><i class="bi bi-person-circle"></i> [[${account.fullname}]]</button>
						    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
						      <span class="visually-hidden">Toggle Dropdown</span>
						    </button>
						    <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                <li><a class="dropdown-item" th:href="@{/order/list}">Lịch sử</a></li>
                                <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
                                    <a class="dropdown-item" th:href="@{/admin/home/index}">Quản trị</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
						    </ul>
						 </div>
                    </th:block>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>