<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart Page</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
	integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link th:href="@{/webjars/bootstrap/font-awesome/6.2.1/css/all.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
	<div class="p-5">
		<div th:replace="~{layout/header :: header}"></div>
		<div class="p-5">
			<div class="cart row">
				<div class="col-8">
					<p class="fs-2">Bag</p>
					<div th:each="orderDetail : ${cart}">
						<div
							th:replace="~{fragments/orderItem :: orderItem(item=${orderDetail})}"></div>
					</div>
				</div>
				<div class="col-4 ps-3">
					<p class="fs-2 mb-3">Summary</p>
					<div class="has-border-b"></div>
					<div class="sub-summary my-3">
						<p>Total</p>
						<span class="text-end" th:text="${total} + '$'"></span>
					</div>
					<div class="has-border-b"></div>
					<a th:href="@{'/checkout'}" class="btn btn-secondary w-100 mt-3">Check out</a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{layout/footer :: footer}"></div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>