<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<link th:href="@{/webjars/font-awesome/6.2.1/css/all.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
	<div class="p-5">
		<div th:replace="~{layout/header :: header}"></div>
		<div class="text-center">
			<p class="m-0 display-1 p-5">Shoes</p>
		</div>
		<div class="pt-5">
			<div class="row align-items-center gap-4">
				<div th:replace="~{fragments/product :: product}"></div>
				<div th:replace="~{fragments/product :: product}"></div>
				<div th:replace="~{fragments/product :: product}"></div>
			</div>
		</div>
	</div>
	<div th:replace="~{layout/footer :: footer}"></div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>