<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="py-5">
		<div class="container px-4 px-lg-5">
			<div class="login">
				<div th:if="${message}" class="alert alert-danger" role="alert">
					[[${message}]]</div>
				<form th:action="@{/security/login}" method="POST" th:object="${data}">
					<div class="mb-3">
						<label for="input-username" class="form-label">Username</label> <input th:field="username"
							type="text" class="form-control" id="input-username"
							name="username">
					</div>
					<div class="mb-3">
						<label for="input-password" class="form-label">Password</label> <input th:field="password"
							type="password" class="form-control" id="input-password"
							name="password">
					</div>
					<div class="d-grid gap-2">
						<button class="btn btn-primary">Login</button>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>

</html>